<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trial.voicecomm"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name="AppState"
        android:icon="@drawable/vow_icon4"
        android:label="@string/app_name" >
        <activity
            android:name=".VoiceCommActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" 
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name="ScanList"
            android:label="List of People Online"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity 
            android:name="Settings"
            android:label="Settings"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity 
            android:name="IncomingCallActivity"
            android:label="Incoming Call"
            android:screenOrientation="portrait" >
        </activity>
        
        <service android:name=".AvailabilityService">
        </service>
        
        <service android:name=".RequestService">
        </service>
    </application>

</manifest>